*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Cinzel', serif;
}




body{
        min-height: 100vh;
    background: #058ab3;
    background: linear-gradient(180deg, #023b54 0%, #023b54 100%);
}
.comeco{
    margin-top: 2%; 
}

.leaders-titulo{
    display: flex;
    margin: 10% 10% 8% 10%;
    align-items: center;
    justify-content:center ;
    font-size: 80px;
      letter-spacing: 15%;
      font-weight: 400;
        background: linear-gradient(90deg, #fdfbef, #9adac1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.leaders-box{
    display: flex;
justify-content:  start;
margin: 5% auto 5% auto ;
margin-left: 15%;
}

.box-images img{
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.box-text{
margin-left: 2%;
}


.titulo{
 font-size: 40px;
margin-bottom: 4%;
font-weight: 400;
color: beige;

}
.paragrafo{
font-size: 17px;
color: beige;
padding-right: 10% ;
font-weight: 300;
  word-spacing: 5px;
}

.paragrafo-assinatura{
    font-size: 1.5rem;
color: #fdfbef;
font-weight: 600;
}


/* Parte do conselho ministerial */ 


.titulo-conselho{
      font-size: 40px;
margin-left: 30px;
margin-top: 30px;
    background: linear-gradient(90deg, #fdfbef, #9adac1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.nomes{
    display: flex;
align-items: center;
justify-content: center;
padding: 2% 7% 2% 7%;
gap: 30px;

}

.nomes-texto  {
      list-style-type: none;
        word-spacing: 1px;
 letter-spacing: 1px; 
     font-size: 15px ;
    color: #fdfbef;   
    padding: 5%;
}

.nomes-texto:hover{
     box-shadow: 0 10px 20px rgb(2, 3, 37);
 transform: translateY(-5px) scale(1);
    /* aumenta o tamanho do card */
    transition: all 0.4s ease;
    cursor: pointer; transform: translateY(-5px) scale(1);
    /* aumenta o tamanho do card */
    transition: all 0.4s ease;
    cursor: pointer;
color: #023b54 ;
background-color: #fdfbef ;
border-radius: 10px;
}
.nomes-texto:not(:hover) {
    transition: transform 0.4s ease-in;
    /* mais lento ao voltar */
    transition: 0.4s ease;
    /* suavidade no hover */
}

.nomes-texto h2{
    font-size: 30px;
}

.nomes-texto h3{
    font-weight: 600;
}
.nomes-texto h4{
    font-weight: 400;

}

.nomes-2{
       display: flex;
align-items: center;
justify-content: start;
padding: 2% 7% 2% 1%;

}



@media (max-width: 750px) {

    
   html,body{
        margin: 0;
    overflow-x: hidden;
    }
     
 .leaders-titulo{
    font-size: 3rem;
    margin: 20% 10% 10% 10%;
 }

 .leaders-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto 5% auto ;
 }


 .box-images{
display: flex;
align-items: center;    
justify-content: center;
flex-direction: column;
 }

 .box-images p {
  align-self: start; /* centraliza o parágrafo dentro do contêiner */
  padding: 1rem; /* espaço entre a imagem e o parágrafo */
  margin: 0.5rem 0 2rem 0;
  font-size: 1rem;
  
 }

.box-images img{
    width: 95%;
     padding: 1rem 0.5rem; /* espaço entre borda e imagem */
  border-radius: 4px; /* opcional, deixa mais suave */
margin: 0 auto; /* centraliza horizontalmente */
}

/* Parte do texto e titulo */ 

.titulo{
font-size: 2rem;
margin: 1rem 0.5rem 1.5rem 0.5rem;

}

.paragrafo{
font-size: 1rem;
background-color: #fdfbef; /* leve fundo para melhor leitura */
padding: 2rem;
border-radius: 4px;
color: #023b54;
font-weight: 600;
}



/* Parte da diretoria e conselho ministerial */ 

.nomes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 7% 2% 7%;
    gap: 30px;
    
}




}